// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
//$body-bg: #000;
$body-color: white;
$primary: rgba(230, 52, 7, 0.863);
$font-family-base: monospace;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS
body {
  padding: 20px;
}

.primary {
  color: rgba(252, 59, 0, 0.932);
}

.card-title {
  color: black;
}
.card-text {
  color: black;
}
